*{
    font-family: "Poppins", sans-serif;
}

body {
    color: #FFFFFF;
    background: rgb(34,17,231);
    background: linear-gradient(180deg, rgba(34,17,231,1) 0%, rgba(56,56,55,1) 100%);
}

#div-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; 
}

#logo-menu {
    font-size: 29px;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: 800;
    font-style: normal;
}

#menu ul li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    margin-top: 200px; 
    font-weight: 400;
    font-style: normal;
}

a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

#contact-us {
    font-size: 13px;
    background-color: #FA9021;
    border-radius: 6px;
    padding: 11px 27px 11px 27px;
    font-weight: 400;
    font-style: normal;
}

#sec-1 {
    text-align: center;
    margin-top: 80px;
}

#p-home {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#span-contact {
    color: #E47500;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    font-style: normal;
}

#p-text {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

#div-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 93px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 62px;
}

#p-follow {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-right: -100px;
}

.medias {
    margin-left: -15px;
}

#phone, #loc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

#img-phone, #img-loc {
    margin-right: 25px;
}

#div-follow {
    width: 281px;
}

.traco-vertical {
    height: 102px;
    border: 1px solid white;
}

#sec-form {
    margin-top: 146px;
    background-image: url("images-contact/Group\ 1217.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 858px;
    margin-left: -8px;
    margin-right: -8px;
}

#container-form {
    margin-top: 50px;
    height: 600px;
    margin-left: 50px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 59px;
}

#p-form {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

#container-tit p {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}


form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

fieldset {
    border: none;
}

.campo {
    float: left;
    margin-left: -14px;
    margin-right: 35px;
}

#firstName {
    margin-right: 90px;
}

.input-name {
    width: 322px;
    height: 56px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
}

.input-email {
    width: 671px;
    height: 56px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
}

#message, #firstName, #lastName, #email {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
    font-style: normal;
}

#input-message {
    width: 671px;
    height: 232px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;

}

#div-message, #div-email {
    margin-top: 20px;
}

#btn-submit {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background-color: #DC7000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 193px;
    height: 57px;
    margin-top: 51px;
    margin-left: 67%;
    cursor: pointer;
}

#sec5-h3 {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    margin-left: 60px;
    margin-top: 150px;
}

.p7 {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-left: 60px;
    margin-bottom: 74px;
}

#container-input {
    background-color: #1C140F;
    width: 1170px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-bottom: 148px;
}

#btn-4 {
    background-color: #DC7000;
    color: #FFFFFF;
    width: 105px;
    height: 37px;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    position: relative;
    top: 37%;
    left: 13%;
    cursor: pointer;
}

#sec5-h3-2 {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}

#input-email {
    background-color: #FFFFFF;
    color: #898989;
    border: none;
    border-radius: 8px;
    width: 385.68px;
    height: 48px;
    padding: 0 0 0 40px;
    position: relative;
    top: 37%;
    left: 35%;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
}

#divh3-p {
    padding-left: 40px;
}

footer {
    background-color: #070707;
    margin-left: -8px;
    width: 100%;
	position:absolute;
    padding-top: 10px;
}

#div-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

#div-logo {
    margin-left: 44px;
}

#logo-footer {
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    margin-top: 10px;
}

.p-footer {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.p-ul {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
}

#lista-footer li a{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.p-contact-us {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

#nav-a {
    margin-right: 50px;
}

#medias {
    margin-top: 130px;
    margin-right: 44px;
}

#div-copy {
    margin-top: 30px;
    text-align: center;
    border-top: 0.8px solid ;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}