*{
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #39289F;
    color: #FFFFFF;
}

/* Section */

section {
    text-align: center;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    font-style: normal;
    color: #FA9021;
}

#error {
    font-size: 30px;
    margin-top: -70px;
    font-weight: 700;
    font-style: normal;
}

#return {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

#go-home {
    font-size: 15px;
    background-color: #FA9021;
    border-radius: 6px;
    padding: 11px 27px 11px 27px;
    font-weight: 500;
    font-style: normal;
}