*{
    font-family: "Poppins", sans-serif;
}

body {
    color: #FFFFFF;
    background: rgb(34,17,231);
    background: linear-gradient(180deg, rgba(34,17,231,1) 0%, rgba(56,56,55,1) 100%);
}

/* Header */

#header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; 
}

#logo-text {
    font-size: 29px;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: 800;
    font-style: normal;
}

#main-navigation ul li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    margin-top: 200px; 
    font-weight: 400;
    font-style: normal;
}

a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

#contact-us {
    font-size: 13px;
    background-color: #FA9021;
    border-radius: 6px;
    padding: 11px 27px 11px 27px;
    font-weight: 400;
    font-style: normal;
}

/* Section 1 */

#section-contact {
    text-align: center;
    margin-top: 80px;
}

#p-contact {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#span-contact {
    color: #E47500;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    font-style: normal;
}

#text-contact {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

/* Section 2 */

#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 93px;
}

#contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 62px;
}

#p-follow {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-right: -100px;
}

.medias {
    margin-left: -15px;
}

#phone-container, #loc-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

#phone-icon, #loc-icon {
    margin-right: 25px;
}

#contact-medias {
    width: 281px;
}

.vertical-line {
    height: 102px;
    border: 1px solid white;
}

/* Section 3 */

#section-form {
    margin-top: 146px;
    background-image: url("/Public/Assets/images-contactUs/fundo-form.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height: 858px;
    margin-left: -8px;
    margin-right: -8px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 59px;
}

#p-form {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

/* Form */

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#container-form {
    margin-top: 50px;
    height: 600px;
    margin-left: 50px;
}

fieldset {
    border: none;
}

.campo {
    float: left;
    margin-left: -14px;
    margin-right: 35px;
}

#firstName {
    margin-right: 90px;
}

#input-first-name {
    width: 322px;
    height: 56px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
    outline: none;
}

#msg-erro-firstname {
    display: none;
    color: red;
    font-size: 12px;
}

#input-last-name {
    width: 322px;
    height: 56px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
    outline: none;
}

#msg-erro-lastname {
    display: none;
    color: red;
    font-size: 12px;
}

#input-email-form {
    width: 671px;
    height: 56px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
    outline: none;
}

#msg-erro-email-form{
    display: none;
    color: red;
    font-size: 12px;
}

#message, #firstName, #lastName, #email {
    font-size: 14px;
    color: #4F4F4F;
    font-weight: 500;
    font-style: normal;
}

#input-message-form {
    width: 671px;
    height: 232px;
    border-radius: 9px;
    border: 0.6px #CECECE solid;
    background: rgba(255, 255, 255, 7%);
    color: #FFFFFF;
    outline: none;
    resize: none;
}

#msg-erro-message-form {
    display: none;
    color: red;
    font-size: 12px;
}

#div-message, #message-container {
    margin-top: 20px;
}

#button-submit {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    background-color: #DC7000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 193px;
    height: 57px;
    margin-top: 51px;
    margin-left: 67%;
    cursor: pointer;
}

#mensagem-confirmacao-form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1600px;
    width: 500px;
    font-size: 32px;
    background-color: #DC7000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    display: none;
    font-weight: 800;
    font-style: normal;
    box-shadow: 10px 10px 10px #070707
}

#mensagem-sucesso {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

/* Section 4 */

#sub-heading {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    margin-left: 60px;
    margin-top: 150px;
}

.sub-p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-left: 60px;
    margin-bottom: 74px;
}

#container-input {
    background-color: #1C140F;
    width: 1170px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 148px;
    border-radius: 15px;
}

#button-continue {
    background-color: #DC7000;
    color: #FFFFFF;
    width: 105px;
    height: 37px;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    position: relative;
    top: 37%;
    left: 13%;
    cursor: pointer;
}

#confirmacao-subscribe {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 2490px;
    width: 500px;
    font-size: 32px;
    background-color: #DC7000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    display: none;
    font-weight: 800;
    font-style: normal;
    box-shadow: 10px 10px 10px #070707
}

#loop-heading {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}

#input-email {
    background-color: #FFFFFF;
    color: #898989;
    border: none;
    border-radius: 8px;
    width: 385.68px;
    height: 48px;
    padding: 0 0 0 20px;
    position: relative;
    top: 37%;
    left: 35%;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    outline: none;
}

#mensagem-erro-email {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 70px;
    margin-left: 205px;
}

#div-sub {
    padding-left: 40px;
}

/* Footer */

footer {
    background-color: #070707;
    margin-left: -8px;
    width: 100%;
	position:absolute;
    padding-top: 10px;
}

#footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

#logo-container {
    margin-left: 44px;
}

#logo-footer {
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    margin-top: 10px;
}

.footer-p {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
}

#lista-footer li a{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

#lista-footer{
    list-style: none;
}

.p-contact-us {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

#footer-nav {
    margin-right: 50px;
}

#medias {
    margin-top: 130px;
    margin-right: 44px;
}

#copyright-container {
    margin-top: 30px;
    text-align: center;
    border-top: 0.8px solid ;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}